In [2]:
import pandas as pd
import pymysql
import sqlite3
from sqlalchemy import create_engine

In [4]:
#데이터 베이스 연결
db = pymysql.connect(user='sebas', host = 'sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com', passwd='sebaschan', port=3306, db='Sebas')
cursor = db.cursor()
#csv 파일 읽어오기
#1. ott 매출액 vs 영화관 매출액
data = pd.read_csv('cinema_ott.csv', encoding='utf-8')
data.columns = ['years', 'ott_cost', 'movie_cost']

#csv 파일의 데이터를 읽어 테이블에 넣기
engine = create_engine("mysql+pymysql://sebas:sebaschan@sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com:3306/Sebas", encoding="utf8")
conn=engine.connect()
data.to_sql(name='corona', con=engine, if_exists='replace', index=False)
conn.close()
db.commit()
db.close()

In [3]:
! pip3 install xlrd
! pip3 install openpyxl

xlsx = pd.read_excel("k_contents.xlsx")

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 4.2 MB/s
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Users/lim-eunbi/Desktop/ott_data_system/.venv/bin/python3 -m pip install --upgrade pip' command.
Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 6.5 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Users/lim-eunbi/Desktop/ott_data_system/.venv/bin/python3 -m pip install --upgrade pip' command.

In [4]:
xlsx.to_csv("k_contents.csv")

In [3]:

import numpy as np

In [21]:
#2 k_contents 데이터 읽어오기
data = pd.read_csv('k_contents.csv', encoding='utf-8')
data = data.drop(columns="n", axis=1)
data

,Name,group_name,Category,Genre,Genre2,Actors,Summary,Year,Score,Award,Global_score,Popularity,TotalScore,Imdb_url,Poster_url
0,Miss Baek,MovieC,Movie,Drama,Drama,"Hee-joon Lee, Si-ah Kim, Jun Suk-ho, Han Ji-min",Reminded of her own trauma and painful past up...,2021,3.30,3,1,1,2.0750,https://www.imdb.com/title/tt6479534,https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
1,Old Marine Boy,MovieD,Movie,Documentary,ets,"Cheolhoon Park, Soonhee Kim, Myoungho Park, Ch...",This documentary plunges into the life of a de...,2021,3.45,1,1,1,1.6125,https://www.imdb.com/title/tt9520176,https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
2,Keys To The Heart,MovieD,Movie,Comedy,Comedy,"Sung-ryung Kim, Jung-min Park, Lee Byung-Hun, ...","With nothing in common but their mother, a for...",2021,3.75,2,1,1,1.9375,https://www.imdb.com/title/tt6985200,https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
3,Homme Fatale,MovieD,Movie,Comedy,Comedy,"Jisu Choi, Gwi-hwa Choi, Jung So-Min, Jun-Ho Lee",In an effort to save his aunts flailing busine...,2021,3.45,1,1,1,1.6125,https://www.imdb.com/title/tt10633676,https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
4,Happy Bus Day,MovieD,Movie,Comedy,Comedy,Ju-won Lee,At a gathering to celebrate the birthday of th...,2021,3.40,2,1,1,1.8500,https://www.imdb.com/title/tt6150050,https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,Cunning Single Lady,SeriesD,Series,Comedy,Comedy,"Seo Kang-Joon, Sang-uk Joo, Lee Min-Jung, Gyu-...",Ae-ra is broke and seeks revenge after learnin...,2015,3.80,2,1,1,1.9500,https://www.imdb.com/title/tt3566838,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
485,Gu Family Book,SeriesC,Series,Action,Action,"Hee-won Kim, Sung-Jae Lee, Jo Sung-ha, Hye-You...",A being born of a human mother and a mythical ...,2015,4.00,3,2,2,2.7500,https://www.imdb.com/title/tt2816734,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
486,Oldboy,MovieB,Movie,Action,Action,"Yoo Ji-Tae, Kim Byeong-Ok, Choi Min-sik, Kang ...","With no clue how he came to be imprisoned, dru...",2015,4.20,5,1,5,3.8000,https://www.imdb.com/title/tt0364569,https://occ-0-1007-1360.1.nflxso.net/dnm/api/v...
487,Boys Over Flowers,SeriesA,Series,Comedy,Comedy,"Kim Bum, Ku Hye-Sun, Lee Min-Ho, Kim Hyun-joong",Unassuming high school girl Jan Di stands up t...,2015,3.95,3,5,5,4.2375,https://www.imdb.com/title/tt1370334,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
488,You Are Beautiful,SeriesB,Series,Comedy,Comedy,"Park Shin-Hye, Hong-ki Lee, Keun-Suk Jang, Yon...","Posing as her twin brother in a boy band, a yo...",2015,3.85,2,4,3,3.2125,https://www.imdb.com/title/tt2074131,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...

In [22]:
data.columns = ['name', 'group_name', 'category', 'genre', 'genre2', 'actors', 'summary', 'year', 'score', 'award', 'global_score', 'popularity', 'total_score', 'imdb_url', 'poster_url']

In [23]:
#csv 파일의 데이터를 읽어 테이블에 넣기
try :
    db = pymysql.connect(user='sebas', host = 'sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com', passwd='sebaschan', port=3306, db='Sebas')
    cursor = db.cursor()
    engine = create_engine("mysql+pymysql://sebas:sebaschan@sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com:3306/Sebas", encoding="utf8")

    conn=engine.connect()
    data.to_sql(name='contents', con=engine, if_exists='append', index=False)
    conn.close()
    db.commit()
    db.close()

finally : 
    conn.close()