In [1]:
import pandas as pd
import pymysql
import sqlite3
from sqlalchemy import create_engine

In [9]:
#데이터 베이스 연결
db = db = pymysql.connect(user='sebas', host = 'sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com', passwd='sebaschan', port=3306, db='Sebas')
cursor = db.cursor()
#csv 파일 읽어오기
#1. ott 매출액 vs 영화관 매출액
data = pd.read_csv('cinema_ott.csv', encoding='utf-8')
data.columns = ['years', 'ott_cost', 'movie_cost']

#csv 파일의 데이터를 읽어 테이블에 넣기
engine = create_engine("mysql+pymysql://sebas:sebaschan@sebas-db.cwtjdyjp19qi.us-east-2.rds.amazonaws.com:3306/Sebas", encoding="utf8")
conn=engine.connect()
data.to_sql(name='HowtoUse', con=engine, if_exists='append', index=False)
conn.close()
db.commit()
db.close()